header{
background-color: red;
width: 100%;
height: 200px;
}
footer{
background-color: yellow;
width: 100%;
height: 200px;
}
table{
width:90%;
}
#r1c1{background-color:lightblue;}
#r1c2{background-color:chocolate;}
#r1c3{background-color:khaki;}
#r1c4{background-color:salmon;}
#r2c1{background-color:lightgrey;}
#r2c2{background-color:white;}
#r2c3{background-color:silver;}
#r2c4{background-color:violet;}
#r3c1{background-color:yellow;}
#r3c2{background-color:blue;}
#r3c3{background-color:aqua;}
#r3c4{background-color:bisque;}
#r4c1{background-color:lime;}
#r4c2{background-color:orange;}
#r4c3{background-color:red;}
#r4c4{background-color:pink;}
#w_r1c1{background-color:pink;}
#w_r1c3{background-color:orange;}
#w_r2c1{background-color:brown;}
#w_r2c3{background-color:cyan;}
#w_r3c1{background-color:violet}
#w_r3c3{background-color:silver;}
#w_r4c1{background-color:salmon;}
#w_r4c3{background-color:chocolate;}
